<script type="text/javascript">
  RED.nodes.registerType('HWg-STE', {
      category: 'function',
      color: '#a6bbcf',
      defaults: {
          name: { value: "" },
          ip: { value: "0.0.0.0" }
      },
      inputs: 1,
      outputs: 1,
      icon: "file.png",
      label: function() {
          return this.name||"HWg-STE";
      }
  });
</script>

<script type="text/x-red" data-template-name="HWg-STE">
  <div class="form-row">
      <label for="node-input-name"><i class="icon-tag"></i> Nombre</label>
      <input type="text" id="node-input-name" placeholder="Nombre">
  </div>
</script>

<script type="text/x-red" data-help-name="HWg-STE">
  <p>Un nodo que obtiene datos de una sonda de temperatura/humedad HWg-STE y devuelve los datos en JSON</p>
</script>